name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build-iOS:
    runs-on: macos-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        submodules: true

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.2.1'

    - name: Build iphoneos
      run: |
        cmake -DMBEDTLS_FATAL_WARNINGS:BOOL=OFF -DEXCLUDE_PROGRAMS=ON -DCMAKE_TOOLCHAIN_FILE=../../toolchains/iOS-arm64.cmake -S ./deps/ziti-tunnel-sdk-c -B ./deps/ziti-tunnel-sdk-c/build-iphoneos-arm64
        cmake --build ./deps/ziti-tunnel-sdk-c/build-iphoneos-arm64 
        xcodebuild build -configuration Release -scheme CZiti-iOS -derivedDataPath ./DerivedData/CZiti -arch arm64 -sdk iphoneos

    - name: Build iphonesimulator
      run: |
        cmake -DMBEDTLS_FATAL_WARNINGS:BOOL=OFF -DEXCLUDE_PROGRAMS=ON -DCMAKE_TOOLCHAIN_FILE=../../toolchains/iOS-x86_64.cmake -S ./deps/ziti-tunnel-sdk-c -B ./deps/ziti-tunnel-sdk-c/build-iphonesimulator-x86_64
        cmake --build ./deps/ziti-tunnel-sdk-c/build-iphonesimulator-x86_64 
        xcodebuild build -configuration Release -scheme CZiti-iOS -derivedDataPath ./DerivedData/CZiti -arch x86_64 -sdk iphonesimulator

    - name: Create Framework
      run: |
        FOR=iOS ./make_dist.sh
        tar -cvzf CZiti-iOS.framework.tgz -C ./dist/iOS/Release/Pods/CZiti-iOS/ .

    - name: Upload Framework
      uses: actions/upload-artifact@v3
      with:
        name: CZiti-iOS.framework
        path: CZiti-iOS.framework.tgz

  build-macOS:
    runs-on: macos-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        submodules: true

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.2.1'

    - name: Build x86_64
      run: |
        cmake -DMBEDTLS_FATAL_WARNINGS:BOOL=OFF -DEXCLUDE_PROGRAMS=ON -S ./deps/ziti-tunnel-sdk-c -B ./deps/ziti-tunnel-sdk-c/build-macosx-x86_64
        cmake --build ./deps/ziti-tunnel-sdk-c/build-macosx-x86_64 

    - name: Build arm64
      run: |
        cmake -DMBEDTLS_FATAL_WARNINGS:BOOL=OFF -DEXCLUDE_PROGRAMS=ON -DCMAKE_TOOLCHAIN_FILE=../../toolchains/macOS-arm64.cmake -S ./deps/ziti-tunnel-sdk-c -B ./deps/ziti-tunnel-sdk-c/build-macosx-arm64
        cmake --build ./deps/ziti-tunnel-sdk-c/build-macosx-arm64 

    - name: Build Universal Lib
      run: |
        xcodebuild build -configuration Release -scheme CZiti-macOS -derivedDataPath ./DerivedData/CZiti -arch x86_64 -arch arm64 ONLY_ACTIVE_ARCH=NO -sdk macosx

    - name: Create Framework
      run: |
        FOR=macOS ./make_dist.sh
        tar -cvzf CZiti-macOS.framework.tgz -C ./dist/macOS/Release/Pods/CZiti-macOS/ .

    - name: Upload Framework
      uses: actions/upload-artifact@v3
      with:
        name: CZiti-macOS.framework
        path: CZiti-macOS.framework.tgz

  build-docs:
    runs-on: macos-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        submodules: true

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.2.1'

    - name: Get Jazzy
      run: gem install jazzy

    - name: Build C SDK
      run: |
        cmake -DMBEDTLS_FATAL_WARNINGS:BOOL=OFF -DEXCLUDE_PROGRAMS=ON -S ./deps/ziti-tunnel-sdk-c -B ./deps/ziti-tunnel-sdk-c/build-macosx-x86_64
        cmake --build ./deps/ziti-tunnel-sdk-c/build-macosx-x86_64 

    - name: Gen Docs
      run: |
        rm *.podspec
        jazzy --hide-documentation-coverage -x '-arch,x86_64,-scheme,CZiti-macOS,-sdk,macosx' -m CZiti
        tar -cvzf ./ziti-sdk-swift-docs.tgz -C ./docs .

    - name: Upload Docs
      uses: actions/upload-artifact@v3
      with:
        name: ziti-sdk-swift-docs
        path: ziti-sdk-swift-docs.tgz

  draft-release:
    runs-on: ubuntu-latest
    needs: [ build-iOS, build-macOS, build-docs ]
    if: github.event_name == 'push' && github.ref  == 'refs/heads/main'
    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Download Docs
      uses: actions/download-artifact@v3
      with:
        name: ziti-sdk-swift-docs

    - name: Download iOS Framework
      uses: actions/download-artifact@v3
      with:
        name: CZiti-iOS.framework

    - name: Download macOS Framework
      uses: actions/download-artifact@v3
      with:
        name: CZiti-macOS.framework

    - name: Draft Release
      id: release_drafter
      uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Docs
      uses: shogo82148/actions-upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.release_drafter.outputs.upload_url }}
        asset_path: ./ziti-sdk-swift-docs.tgz
        asset_name: ziti-sdk-swift-docs.tgz
        asset_content_type: application/tgz
        overwrite: true

    - name: Upload iOS Framework
      uses: shogo82148/actions-upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.release_drafter.outputs.upload_url }}
        asset_path: ./CZiti-iOS.framework.tgz
        asset_name: CZiti-iOS.framework.tgz
        asset_content_type: application/tgz
        overwrite: true

    - name: Upload macOS Framework
      uses: shogo82148/actions-upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.release_drafter.outputs.upload_url }}
        asset_path: ./CZiti-macOS.framework.tgz
        asset_name: CZiti-macOS.framework.tgz
        asset_content_type: application/tgz
        overwrite: true
